@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,100;1,300;1,400&display=swap');


.title {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

.subtitle {
	font-family: 'Poppins', sans-serif;
	font-style: italic;
	font-weight: 300;
}

.text{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}
.example {
	font-family: 'Poppins', sans-serif;
	font-style: italic;
	font-weight: 400;
	
}

.border{
	background-color: rgba(233, 233, 233, 0.592);
	border-radius: 0.5rem;
}